main {
    grid-template:
        "name icon" 30px
        ". icon" 10px
        "attr icon" auto
        ". icon" 10px
        "solts solts" auto
        / auto minmax(90px, 1fr);
    max-width: 600px;
    > img {
        --zoom: 6;
        width: 15px;
        max-height: 30px;
    }
}

.static-spells,
.dynamic-spells {
    place-content: start;
    gap: 5px;
}

.dynamic-spells {
    grid-area: solts;
    max-width: 550px;
    flex-wrap: wrap;
}

:hover noita-spell::part(tape) {
    animation-play-state: paused;
}

li {
    display: grid;
    place-content: center;
    place-items: center;
    height: var(--size);
    width: var(--size);
}

.static-spells > li {
    --size: 40px;
}

.dynamic-spells > li {
    --size: 50px;
    --c: #3d302bda;
    /* 边框线渐变基本参数 0 */
    --0: #0000 0;
    /* 边框线渐变基本参数 1 */
    --1: var(--c) 0;
    /* 边框线渐变基本参数 2 */
    --2: #794738 0;
    /* 边框线渐变基本参数 3 */
    --3: #582b28 0;
    /* 边框线渐变基本参数 4 */
    --4: #5f302c 0;
    /* 边框线(垂直方向) 宽高参数 */
    --h: left/100% 6% no-repeat;
    /* 边框线(水平方向) 宽高参数 */
    --v: top/6% 100% no-repeat;
    /* 左/右 边框线渐变参数 */
    --S: linear-gradient(180deg, var(--0) 6%, var(--2) 12%, var(--4) 22%, var(--1) 28%, var(--2) 34%, var(--4) 38%, var(--1) 44%, var(--2) 50%, var(--4) 56%, var(--1) 62%, var(--2) 66%, var(--4) 72%, var(--1) 78%, var(--2) 84%, var(--3) 94%, var(--0) 100%);
    /* prettier-ignore */
    background: /* 法术槽背景 */
        /* 上侧边框线 */
        linear-gradient(90deg, var(--0) 6%, var(--2) 22%, var(--1) 28%, var(--2) 38%, var(--1) 44%, var(--2) 56%, var(--1) 62%, var(--2) 72%, var(--1) 78%, var(--2) 94%, var(--0) 100%) top var(--h),
        /* 下侧边框线 */
        linear-gradient(90deg, var(--0) 6%, var(--3) 22%, var(--1) 28%, var(--3) 38%, var(--1) 44%, var(--3) 56%, var(--1) 62%, var(--3) 72%, var(--1) 78%, var(--3) 94%, var(--0) 100%) bottom var(--h),
        /* 左侧边框线 */
        var(--S) left var(--v),
        /* 右侧边框线 */
        var(--S) right var(--v),
        /* 中心底色 */
        linear-gradient(var(--c), var(--c)) center/ 88% 88% no-repeat;
}

/* 可选位置 */
.optional > noita-spell {
    animation: fade 0.7s ease-out infinite alternate;
}

td {
    &.shuffle {
        color: var(--attr-color-shuffle, var(--attr-color-default));
    }
    &.draw {
        color: var(--attr-color-draw, var(--attr-color-default));
    }
    &.fire-rate-wait {
        color: var(--attr-color-fire-rate-wait, var(--attr-color-default));
    }
    &.reload-time {
        color: var(--attr-color-reload-time, var(--attr-color-default));
    }
    &.mana-max {
        color: var(--attr-color-mana-max, var(--attr-color-default));
    }
    &.mana-charge-speed {
        color: var(--attr-color-mana-charge-speed, var(--attr-color-default));
    }
    &.capacity {
        color: var(--attr-color-capacity, var(--attr-color-default));
    }
    &.spread-degrees {
        color: var(--attr-color-spread-degrees, var(--attr-color-default));
    }
}

@keyframes fade {
    100% {
        opacity: 0.5;
        filter: grayscale(1);
    }
}
