:host > section {
    /* prettier-ignore */
    grid-template:
        "name icon" 30px
        ". icon" 10px
        "attr icon" auto
        ". icon" 10px
        "solts solts" auto
        "named-solts named-solts" auto
        / auto minmax(90px, 1fr);
    max-width: 550px;
}

/* 简易面板布局 */
:host > .simple {
    /* prettier-ignore */
    grid-template:
        "icon attr" 90px
        "solts solts" auto
        "named-solts named-solts" auto
        / calc(6px * var(--length, 21)) auto;
    max-width: 1500px;
    overflow: visible;
}

/* 简易面板中命名法术法术序列的名称需要小一些 */
:host > .simple h2,
:host > .simple h2 > ::slotted(data) {
    line-height: 22px;
    --font-size: 20px;
}

:host > section.simple > img {
    rotate: 90deg;
}

:host > section > img {
    --zoom: 6;
    width: 15px;
    max-height: 30px;
}

:host > .simple > .attrs {
    place-self: center start;
}

:host>.simple table .attr-icon,
/* 简易面板不显示属性图标 */
:host>.simple>.attrs th:nth-child(1) {
    display: none;
}

:host > .simple .mixed-spells {
    margin-top: 6px;
    max-width: 1500px;
}

.prompts {
    top: -12px;
    left: -22px;
    position: absolute;
    width: 33px;
    height: 110px;
    display: flex;
    flex-direction: column-reverse;
}

.prompts:empty {
    display: none;
}

.prompts > i {
    zoom: 3;
}
.mixed-spells,
ol.static-spells {
    display: flex;
    flex-wrap: wrap;
    place-content: start;
    gap: 5px;
}
/* .static-spells,
.dynamic-spells,
.mixed-spells {
    
} */

noita-inventory {
    flex-wrap: wrap;
}

h2 {
    display: flex;
    gap: 10px;
}

h2,
h2 > ::slotted(data) {
    color: #cfcfcf;
    line-height: 26px;
    --font-size: 24px;
    --font-weight: 300;
    margin-bottom: 3px;
    text-wrap: nowrap;
}

.solts {
    grid-area: solts;
}

.named-solts {
    grid-area: named-solts;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 6px;
}

.static-spells > li {
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
    height: 40px;
    width: 40px;
}

/* 可选位置 */
noita-inventory::part(optional-spell),
[part="optional-spell"] {
    animation: fade 0.7s ease-out infinite alternate;
}

/* 法力不足时的警告图标(仅在简易模式展示) */
.simple noita-inventory::part(warn-icon) {
    position: absolute;
    top: -8px;
}

/* 隐藏空白槽位 */
noita-inventory::part(inventory-slot):empty {
    display: none;
}

.shuffle > td {
    color: var(--attr-color-shuffle, var(--attr-color-default));
}

.draw > td {
    color: var(--attr-color-draw, var(--attr-color-default));
}

.fire-rate-wait > td {
    color: var(--attr-color-fire-rate-wait, var(--attr-color-default));
}

.reload-time > td {
    color: var(--attr-color-reload-time, var(--attr-color-default));
}

.mana-max > td {
    color: var(--attr-color-mana-max, var(--attr-color-default));
}

.mana-charge-speed > td {
    color: var(--attr-color-mana-charge-speed, var(--attr-color-default));
}

.capacity > td {
    color: var(--attr-color-capacity, var(--attr-color-default));
}

.spread-degrees > td {
    color: var(--attr-color-spread-degrees, var(--attr-color-default));
}
