:host {
    grid-template: "main" 40px/40px;
    --size: 40px;
}

/* 角标 */
:host > img {
    zoom: 2;
    place-self: start end;
    grid-area: main;
}

/* 自定义角标 */
::slotted(*) {
    z-index: 1;
    grid-area: main;
    /* 默认右上角 */
    place-self: start end;
}

slot[name="info"] {
    display: none;
}

::slotted(:is(.\[left-top\], .\[lt\], .\[1\])) {
    place-self: start;
}

::slotted(:is(.\[right-top\], .\[rt\], .\[2\])) {
    place-self: start end;
}

::slotted(:is(.\[left-bottom\], .\[lb\], .\[3\])) {
    place-self: end start;
}

::slotted(:is(.\[right-bottom\], .\[rb\], .\[4\])) {
    place-self: end;
}

/* 剩余次数 */
data {
    grid-area: main;
    --font-size: 18px;
    --font-weight: 400;
    display: grid;
    place-content: start;
    user-select: none;
    pointer-events: none;
    filter: drop-shadow(1px 1px 0 #000a) drop-shadow(-1px -1px 0 #000a);
}

data > canvas {
    position: relative;
    zoom: 2;
}

/* 轮播胶卷 */
ol {
    grid-area: main;
}

/* 轮播项 */
li {
    --base: no-repeat border-box;
    display: contents;
    /* 边框线色1 将会被法术类型选择器提供的色盘覆盖 */
    --c1: #0000;
    /* 边框线色2 将会被法术类型选择器提供的色盘覆盖 */
    --c2: #0000;
    /* 半透明点色1 (半透明边框线色1) */
    --c3: color-mix(in srgb, var(--c1), #0000);
    /* 半透明点色2 (半透明边框线色2) */
    --c4: color-mix(in srgb, var(--c2), #0000);
    --bg1: linear-gradient(var(--c1) 0 0);
    --bg2: linear-gradient(var(--c2) 0 0);
    --bg3: linear-gradient(var(--c3) 0 0);
    --bg4: linear-gradient(var(--c4) 0 0);
    /* 边框线(垂直方向) 宽高参数 */
    --h1: 2px calc(100% - 6px) var(--base);
    /* 边框线(水平方向) 宽高参数 */
    --v1: calc(100% - 6px) 2px var(--base);
    /* 2*2 像素点 宽高参数 */
    --p: 2px 2px var(--base);
    /* 底色1 */
    --c5: #0000;
    /* 底色2 */
    --c6: #0000;
    /* 中心光晕底色 */
    --b: radial-gradient(var(--c5), var(--c6)) center/calc(100% - 8px) calc(100% - 8px) no-repeat;
    /* prettier-ignore */
    --common\#border:
        /* 正常情况下的法术边框 */
        /* 实边 */
        var(--bg1) left top 4px / var(--h1),
        var(--bg1) right 4px bottom/var(--v1),
        var(--bg1) right bottom 4px / var(--h1),
        var(--bg1) left 4px top/var(--v1),
        var(--bg2) left 2px top 2px / var(--h1),
        var(--bg2) left 2px top 2px / var(--v1),
        var(--bg2) right 2px bottom 2px / var(--h1),
        var(--bg2) right 2px bottom 2px / var(--v1),
        /* 半透明点 */
        var(--bg3) left 2px top/ var(--p),
        var(--bg3) right top/ var(--p),
        var(--bg3) right bottom 2px / var(--p),
        var(--bg3) left 2px bottom 2px / var(--p),
        var(--bg4) left top 2px / var(--p),
        var(--bg4) right 2px top 2px / var(--p),
        var(--bg4) right 2px bottom/ var(--p),
        var(--bg4) left bottom/ var(--p);
}

li:has([hidden])::after {
    content: "?";
    display: flex;
    place-content: center;
    place-items: center;
    --font-size: 24px;
    --font-weight: bolder;
    color: var(--c4);
    -webkit-text-stroke: var(--c2) 1px;
}

li:has([hidden])::after,
li > img {
    height: var(--size);
    width: var(--size);
    border: 4px solid #0000;
    /* 聚焦时使用聚焦边框 否则回退使用正常边框 */
    background: var(--focus\#border, var(--common\#border)), /* 底色 */ var(--b);
}

li > img::selection {
    background-color: color-mix(in srgb, var(--c1) 30%, #0000 70%);
}

/* 聚焦时 替换中心光晕底色色盘 */
:host(:hover) li {
    --c5: var(--c3);
    --c6: var(--c4);
}

:host(:focus-visible) li {
    /* 虚边框线渐变基本参数 */
    --focus\#bg3: linear-gradient(#493414c5 0 0);
    /* 虚边框线(垂直方向) 宽高参数 */
    --focus\#h1: 2px calc(100% - 6px) var(--base);
    /* 虚边框线(水平方向) 宽高参数 */
    --focus\#v1: calc(100% - 6px) 2px var(--base);
    /* 实边框线(垂直方向) 宽高参数 */
    --focus\#h2: calc(100% - 8px) 2px var(--base);
    /* 实边框线(水平方向) 宽高参数 */
    --focus\#v2: 2px calc(100% - 8px) var(--base);
    /* prettier-ignore */
    --focus\#border:
        /* 聚焦情况下的法术边框 */
        /* 高亮点 */
        var(--focus\#bg1) left 2px top/var(--p),
        var(--focus\#bg1) right 2px top/var(--p),
        var(--focus\#bg1) left top 2px / var(--p),
        var(--focus\#bg1) right top 2px / var(--p),
        var(--focus\#bg1) left 2px bottom/var(--p),
        var(--focus\#bg1) right 2px bottom/var(--p),
        var(--focus\#bg1) left bottom 2px / var(--p),
        var(--focus\#bg1) right bottom 2px / var(--p),
        /* 实边 */
        var(--focus\#bg2) left 4px top/var(--focus\#h2),
        var(--focus\#bg2) left top 4px / var(--focus\#v2),
        var(--focus\#bg2) left 4px bottom/var(--focus\#h2),
        var(--focus\#bg2) right top 4px / var(--focus\#v2),
        /* 虚边 */
        var(--focus\#bg3) left 2px top 2px / var(--focus\#v1),
        var(--focus\#bg3) left 2px top 4px / var(--focus\#h1),
        var(--focus\#bg3) left 4px bottom 2px / var(--focus\#v1),
        var(--focus\#bg3) right 2px top 2px / var(--focus\#h1) !important;
}

/*================================================*\
    法术边框色盘
    根据法术类型为边框提供不同色盘
\*================================================*/

/* [投射物] */
.projectile {
    --c1: #5a2323;
    --c2: #411919;
}

/* [静态投射物] */
.static-projectile {
    --c1: #8d3f18;
    --c2: #553422;
}

/* [修正] */
.modifier {
    --c1: #2d3a72;
    --c2: #202952;
}

/* [材料] */
.material {
    --c1: #356f44;
    --c2: #2f4836;
}

/* [多重] */
.draw-many {
    --c1: #1c6d73;
    --c2: #214346;
}

/* [其他] */
.other {
    --c1: #714b33;
    --c2: #49392e;
}

/* [实用] */
.utility {
    --c1: #7b2a74;
    --c2: #4d2a4a;
}

/* [被动] */
.passive {
    --c1: #212f26;
    --c2: #18211b;
}

/* [内置特殊类型] */
.special {
    --c1: #111;
    --c2: #151515;
}
