main {
    grid-template:
        "name icon" 30px
        "desc icon" auto
        ".  icon" 14px
        "attr icon" 1fr
        "prob prob" auto
        / auto minmax(80px, 1fr);
    gap: 0 20px;
    > .probs {
        height: 46px;
        grid-area: prob;
        place-self: start;
        &:hover {
            --attr-icon-color: #eda949;
        }

        th,
        td {
            text-align: left;
            width: 60px;
            text-align: center;
            text-wrap: nowrap;
            font-family: var(--mono-font);
            --font-size: 24px;
            --font-weight: 300;
        }
        th {
            height: 30px;
            &:nth-child(1) {
                max-width: 30px;
                text-align: left;
            }
            &:nth-child(2) {
                color: #cfcfcf;
                width: 180px;
                text-align: left;
            }
            &:not(:nth-child(1), :nth-child(2)) {
                border-left: 2px solid #0000;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                background: #fff1;
            }
            &.lv {
                --font-weight: bolder;
                --font-size: 18px;
            }
            &.value {
                --font-size: 18px;
            }
        }
        td {
            height: 16px;
            --font-size: 14px;
            border-left: 2px solid #0000;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            background: #fff1;
        }
        td.mark-left,
        td.mark-right {
            width: 0;
            --focus-scale: 0;
            --focus-color: #fff;
        }
        &:is(:focus-visible, :hover) {
            td.mark-left,
            td.mark-right {
                width: 16px;
                --focus-scale: 2;
                --focus-color: #fff;
                transition: width 0.3s linear;
            }
            td.mark-left {
                background: var(---foucs-bg-left);
            }
            td.mark-right {
                background: var(---foucs-bg-right);
            }
        }
    }
}
