:host > section {
    grid-template:
        "name icon" 30px
        "desc icon" auto
        ".  icon" 14px
        "attr icon" 1fr
        "prob prob" auto
        / auto minmax(80px, 1fr);
    gap: 0 20px;
}
.probs {
    margin-top: 10px;
    height: 46px;
    grid-area: prob;
    place-self: start;
}
.probs:is(:focus-visible, :hover) td:is(.mark-left, .mark-right) {
    width: 16px;
    --focus-scale: 2;
    --focus-color: #fff;
    transition: width 0.3s linear;
}

.probs:is(:focus-visible, :hover) .mark-left {
    background: var(---foucs-bg-left);
}

.probs:is(:focus-visible, :hover) .mark-right {
    background: var(---foucs-bg-right);
}

.probs:hover {
    --attr-icon-color: #eda949;
}

.probs th,
.probs td {
    text-align: left;
    width: 60px;
    text-align: center;
    text-wrap: nowrap;
    font-family: var(--mono-font);
    --font-size: 24px;
    --font-weight: 300;
}

.probs th {
    height: 30px;
}

.probs th:nth-child(1) {
    max-width: 21px;
    text-align: left;
}

.probs th:nth-child(2) {
    padding-left: 10px;
    color: #cfcfcf;
    width: 180px;
    text-align: left;
}

.probs th:not(:nth-child(1), :nth-child(2)) {
    border-left: 2px solid #0000;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #fff1;
}

.probs th.lv {
    --font-weight: bolder;
    --font-size: 18px;
}

.probs th.value {
    --font-size: 18px;
}

.probs td {
    height: 16px;
    --font-size: 14px;
    border-left: 2px solid #0000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #fff1;
}

.probs td.mark-left,
.probs td.mark-right {
    width: 0;
    --focus-scale: 0;
    --focus-color: #fff;
}
