main {
    grid-template:
        "name" 30px
        "." 14px
        "attr" auto
        / auto;
    place-items: center stretch;
    place-content: center;
    min-width: 250px;
    min-height: 100px;
}
