:host {
    grid-template: "main" auto/auto;
    height: 48px;
    width: 48px;
    overflow: hidden;
    place-content: center;
    place-items: center;
}

.background.null {
    width: 16px;
    height: 16px;
}

div.background {
    grid-area: main;
    display: grid;
    place-content: center;
    place-items: center;
    scale: 3;
}



/* 叠加次数 */
data {
    grid-area: main;
    height: 48px;
    width: 48px;
    --font-size: 16px;
    --font-weight: 800;
    display: grid;
    place-content: start;
    padding: 3px;
}

.background:is(.common, .disposable, .essence) {
    width: 14px;
    height: 14px;
    --bg1: linear-gradient(to right, var(--c1), var(--c1));
    --bg2: linear-gradient(to right, var(--c2), var(--c2));
    --bg3: linear-gradient(to right, var(--c3), var(--c3));
    --bg4: linear-gradient(to right, var(--c4), var(--c4));
    --bg5: linear-gradient(to right, var(--c5), var(--c5));
    background: var(--bg1) top center / 10px 1px no-repeat, var(--bg1) bottom center / 10px 1px no-repeat, var(--bg1) center left/ 1px 10px no-repeat, var(--bg1) center right/ 1px 10px no-repeat, var(--bg2) top center / 12px 1px no-repeat, var(--bg2) bottom center / 12px 1px no-repeat, var(--bg2) center left/1px 12px no-repeat, var(--bg2) center right/1px 12px no-repeat, var(--bg3) top 1px left 1px/1px 1px no-repeat, var(--bg3) bottom 1px left 1px/1px 1px no-repeat, var(--bg3) top 1px right 1px/1px 1px no-repeat, var(--bg3) bottom 1px right 1px/1px 1px no-repeat, var(--bg4) top 1px left 1px/1px 3px no-repeat, var(--bg4) top 1px left 1px/3px 1px no-repeat, var(--bg4) bottom 1px left 1px/1px 3px no-repeat, var(--bg4) bottom 1px left 1px/3px 1px no-repeat, var(--bg4) top 1px right 1px/1px 3px no-repeat, var(--bg4) top 1px right 1px/3px 1px no-repeat, var(--bg4) bottom 1px right 1px/1px 3px no-repeat, var(--bg4) bottom 1px right 1px/3px 1px no-repeat, var(--bg5) center center/12px 12px no-repeat;
}

:host(:focus-visible) > .background:is(.common, .disposable, .essence) {
    --c1: #eda949;
    --c2: #c98930;
}

.background:is(.common, .disposable) {
    --c3: #1a1010;
    --c4: #311d1d;
    --c5: #372724;
}

.background.common {
    --c1: #4f322d;
    --c2: #6a4038;
}

.background.disposable {
    --c1: #354f2d;
    --c2: #4f6a38;
}

.background.essence {
    --c1: #4e3b54;
    --c2: #6f5178;
    --c3: #1c171e;
    --c4: #28212b;
    --c5: #2e2531;
}


