:host > section {
    grid-template:
        "name icon" 30px
        "desc icon" auto
        ". icon" 14px
        "attr icon" auto
        / auto minmax(80px, 1fr);
    min-width: 250px;
    min-height: 100px;
}
