:host {
    position: fixed;
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    height: 35px;
    /* border: 1px solid #FFF; */
    top: 50vh;
    left: 50vw;
    pointer-events: none;
    transform-origin: top left;
    transition-duration: 5ms 5ms;
    transition-timing-function: linear linear;
    transform: translate(-50%, -50%);
    z-index: 256;
    background: linear-gradient(90deg, #ffffff, #ffffff) center left/12px 4px no-repeat, linear-gradient(270deg, #ffffff, #ffffff) center right/12px 4px no-repeat, linear-gradient(180deg, #ffffff, #ffffff) center top/4px 12px no-repeat, linear-gradient(0deg, #ffffff, #ffffff) center bottom/4px 12px no-repeat;
}

:host(.pointer) {
    animation-name: pointer;
    animation-duration: 300ms;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

:host(.progress) {
    animation-name: progress;
    animation-duration: 500ms;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes progress {
    100% {
        background: linear-gradient(90deg, #ffffff, #ffffff) center center/6px 4px no-repeat, linear-gradient(270deg, #ffffff, #ffffff) center center/6px 4px no-repeat, linear-gradient(180deg, #ffffff, #ffffff) center center/4px 6px no-repeat, linear-gradient(0deg, #ffffff, #ffffff) center center/4px 6px no-repeat;
    }
}

@keyframes pointer {
    100% {
        background: linear-gradient(90deg, #ffffffcc, #ffffffcc) center left/8px 4px no-repeat, linear-gradient(270deg, #ffffffcc, #ffffffcc) center right/8px 4px no-repeat, linear-gradient(180deg, #ffffffcc, #ffffffcc) center top/4px 8px no-repeat, linear-gradient(0deg, #ffffffcc, #ffffffcc) center bottom/4px 8px no-repeat;
    }
}
