@property --c1 {
    syntax: "<color>";
    inherits: true;
    initial-value: #0000;
}

@property --c2 {
    syntax: "<color>";
    inherits: true;
    initial-value: #0000;
}

@property --c3 {
    syntax: "<color>";
    inherits: true;
    initial-value: #0000;
}

*,
:host,
::after,
::before {

    --mono-font: Fira Code, JetBrains Mono, sans-serif;
    position: relative;
    color: #fff;
    /*
     * 使用 --font-size 来设定字体大小
     * 使用 --font-weight 来设定字重
     * 避免被外部修改
     */
    font-size: var(--font-size, 18px) !important;
    /* 肥猫喜欢细的 */
    font-weight: var(--font-weight, 400) !important;
    text-indent: 0 !important;
    padding: 0;
    margin: 0;
    outline-style: none;
    font-family: sans-serif;
    text-align: left;
    box-sizing: border-box !important;
    image-rendering: pixelated !important;
}

:host {
    display: inline-grid;
    margin: 3px;
}

::selection {
    color: #fff8;
    background-color: #0008;
}

:host([hidden]),
[hidden] {
    display: none !important;
}

img {
    transition: opacity 0.5s;
}

img:not([src]) {
    opacity: 0;
}

summary::marker {
    content: "";
}

table {
    border-collapse: collapse;
}

menu,
ol,
ul {
    display: flex;
    list-style: none;
    width: fit-content;
    place-content: center;
}

@keyframes fade {
    100% {
        opacity: 0.5;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

i {
    zoom: 2;
    height: 11px;
    width: 11px;
    animation: fade 0.7s ease-out infinite alternate;
}

/* 警告图标 */
i.warn-icon {
    --lg0: linear-gradient(#302202 0 0);
    --lg1: linear-gradient(#f7c34f 0 0);
    --lg2: linear-gradient(#6e4e03 0 0);
    --lg3: linear-gradient(#c99a31 0 0);
    --lg4: linear-gradient(#000 0 0);
    --lg5: linear-gradient(#302202, #302202 50%, #6e4e03 50%, #6e4e03);
    /* prettier-ignore */
    background:
        var(--lg2) top 4px center/1px 1px no-repeat,
        var(--lg4) bottom 4px center/1px 2px no-repeat,
        var(--lg4) bottom 2px center/1px 1px no-repeat,
        var(--lg0) top center/1px 1px no-repeat,
        var(--lg3) top 1px center/1px 1px no-repeat,
        var(--lg3) bottom 1px center/1px 7px no-repeat,

        var(--lg5) bottom 8px right 4px/1px 2px no-repeat,
        var(--lg5) bottom 8px left 4px/1px 2px no-repeat,

        var(--lg5) bottom 6px right 3px/1px 2px no-repeat,
        var(--lg5) bottom 6px left 3px/1px 2px no-repeat,

        var(--lg5) bottom 4px right 2px/1px 2px no-repeat,
        var(--lg5) bottom 4px left 2px/1px 2px no-repeat,

        var(--lg5) bottom 2px right 1px/1px 2px no-repeat,
        var(--lg5) bottom 2px left 1px/1px 2px no-repeat,

        var(--lg1) bottom 8px center/ 1px 1px no-repeat,
        var(--lg1) bottom 6px center/ 3px 2px no-repeat,
        var(--lg1) bottom 4px center/ 5px 2px no-repeat,
        var(--lg1) bottom 2px center/ 7px 2px no-repeat,
        var(--lg1) bottom 1px center/ 9px 1px no-repeat,
        var(--lg0) bottom center/ 11px 2px no-repeat;
}

/* 信息图标 */
i.info-icon {
    --lg0: linear-gradient(#1650ef 0 0);
    --lg1: linear-gradient(#fff 0 0);
    --lg2: linear-gradient(#ffffff5f 0 0);
    --lg3: linear-gradient(#396aef 0 0);
    --lg4: linear-gradient(#648af3 0 0);
    /* prettier-ignore */
    background:
        var(--lg1) top 3px center/ 1px 1px no-repeat,
        var(--lg1) top 5px center/ 1px 3px no-repeat,
        linear-gradient(#ABC0F9 0 0) bottom 2px center/1px 1px no-repeat,
        var(--lg4) top 4px center/1px 1px no-repeat,
        var(--lg4) top 2px center/1px 1px no-repeat,
        var(--lg4) bottom 2px right 2px/1px 1px no-repeat,
        var(--lg4) top 2px right 2px/1px 1px no-repeat,
        var(--lg4) bottom 2px left 2px/1px 1px no-repeat,
        var(--lg4) top 2px left 2px/1px 1px no-repeat,

        var(--lg3) right 1px top 4px/1px 1px no-repeat,
        var(--lg3) right 1px bottom 4px/1px 1px no-repeat,
        var(--lg3) left 1px top 4px/1px 1px no-repeat,
        var(--lg3) left 1px bottom 4px/1px 1px no-repeat,

        var(--lg3) bottom 1px left 4px/1px 1px no-repeat,
        var(--lg3) bottom 1px right 4px/1px 1px no-repeat,
        var(--lg3) top 1px left 4px/1px 1px no-repeat,
        var(--lg3) top 1px right 4px/1px 1px no-repeat,
        var(--lg0) center/7px 7px no-repeat,
        var(--lg0) center/9px 3px no-repeat,
        var(--lg0) center/3px 9px no-repeat,
        var(--lg1) center/9px 7px no-repeat,
        var(--lg1) center/7px 9px no-repeat,
        var(--lg1) center/11px 3px no-repeat,
        var(--lg1) center/3px 11px no-repeat,
        var(--lg2) center/5px 11px no-repeat,
        var(--lg2) center/11px 5px no-repeat,
        var(--lg2) center/9px 9px no-repeat;
}

div.destroy-durability {
    display: grid;
    place-items: center;
    height: 32px;
    background: linear-gradient(#0003, #0003), var(--img) center/16px 16px repeat;
    border-radius: 6px;
}

.destroy-durability>canvas {
    zoom: 3;
    top: 1px;
    left: 0.5px;
}