@property --font-size {
    syntax: "<lenth>";
    inherits: true;
    initial-value: 18px;
}

@property --font-weight {
    syntax: "<integer>";
    inherits: true;
    initial-value: 400;
}



*,
:host {
    position: relative;
    /* vertical-align: middle; */
    color: #fff;
    /*
     * 使用 --font-size 来设定字体大小
     * 使用 --font-weight 来设定字重
     * 避免被外部修改
     */
    font-size: var(--font-size, 18px) !important;
    /* 肥猫喜欢细的 */
    font-weight: var(--font-weight, 400) !important;
    padding: 0;
    margin: 0;
    outline-style: none;
    font-family: sans-serif;
    text-align: left;
    box-sizing: border-box;
    image-rendering: pixelated;
}

:host {
    display: inline-grid;
    margin: 3px;
}

::selection {
    color: #ffffff80;
    background-color: #00000080;
}

img {
    transition: all 300ms linear;
}

img[src="null"] {
    display: none;
}

img:not([src]) {
    opacity: 0;
    filter: blur(3px);
}

img[src] {
    opacity: 1;
    filter: blur(0);
}
