:host {
    place-content: center;
    padding: 20px !important;
    margin: 5px !important;
    --c1: #948064;
    --c2: #b49f81;
    --c3: #0e0d0cf2;
    --bg1: linear-gradient(var(--c1), var(--c1));
    --bg2: linear-gradient(var(--c2), var(--c2));
    --bg3: linear-gradient(var(--c3), var(--c3));
    --h1: 3px calc(100% - 9px) no-repeat;
    --v1: calc(100% - 9px) 3px no-repeat;
    --h2: 3px calc(100% - 3px) no-repeat;
    --v2: calc(100% - 3px) 3px no-repeat;
    background: var(--bg1) left top 3px / var(--h1), var(--bg1) left 3px top/var(--v1), var(--bg1) right bottom 3px / var(--h1), var(--bg1) right 3px bottom/var(--v1), var(--bg2) left top/var(--h2), var(--bg2) left top/var(--v2), var(--bg2) right bottom/var(--h2), var(--bg2) right bottom/var(--v2), var(--bg3) center/calc(100% - 6px) calc(100% - 6px) no-repeat;
    gap: 0 20px;
}

:host(:hover),
:host(:focus-within) {
    --c1: #eda949;
    --c2: #c98930;
    --c3: #000000dc;
}

/*########## 标题区 ##########*/
h1 {
    grid-area: name;
    color: #cfcfcf;
    line-height: 30px;
    place-self: stretch;
}
/*########## 描述区 ##########*/
p {
    grid-area: desc;
    line-height: 30px;
    max-width: 400px;
    place-self: stretch;
}
/*########## 图标区 ##########*/
:host > :is(canvas, svg),
main  > :is(canvas, svg){
    grid-area: icon;
    place-self: center;
    scale: 5;
}
/*########## 属性区 ##########*/
:host > :is(table, section),
main > :is(table, section) {
    grid-area: attr;
    place-self: stretch;
}

table {
    border-collapse: collapse;
}

section:not([hidden]) {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center stretch;
    place-content: center;
    gap: 14px;
}

/* 属性图标 */
tr canvas {
    width: 14px;
    height: 14px;
    margin-right: 8px;
}

th {
    width: 160px;
}

td {
    width: auto;
}

.unlimited {
    color: #339933;
}

.never-unlimited {
    color: #993333;
}

th,
td {
    text-align: left;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    white-space: nowrap;
}

ul,
ol {
    display: flex;
    list-style: none;
}

.entities-tabpanel {
    gap: 6px;
}

.entities-tabpanel > li {
    cursor: pointer;
    --noita-cursor: pointer;
    padding: 4px;
    transition: all 300ms linear 0ms;
    border-radius: 2px;
    --lg: linear-gradient(to right, var(--mark-color), var(--mark-color));
}

.entities-tabpanel > li.selected {
    ---foucs-bg1: var(--lg) left top/6px 2px no-repeat, var(--lg) left top/2px 6px no-repeat, var(--lg) left bottom/6px 2px no-repeat, var(--lg) left bottom/2px 6px no-repeat, var(--lg) right top/6px 2px no-repeat, var(--lg) right top/2px 6px no-repeat, var(--lg) right bottom/6px 2px no-repeat, var(--lg) right bottom/2px 6px no-repeat, var(---foucs-bg);
}

.entities-tabpanel > li.unselected {
    color: #999999;
    ---foucs-bg1: var(--lg) center bottom/10% 4px no-repeat, var(---foucs-bg);
}

.in-cast-state {
    --mark-color: #339933;
}

.not-in-cast-state {
    --mark-color: #993333;
}

.entities-tabpanel > li[tabindex]:is(:focus-visible, :hover) {
    --lg: linear-gradient(to right, #00000000, #00000000);
}

:is(li, td, h1)[tabindex] {
    --focus-scale: 0;
    --focus-color: #00000000;
    background: var(---foucs-bg1, var(---foucs-bg));
    transition: all 0.2s linear;
    will-change: contents;
}

:is(li, td, h1)[tabindex]:is(:focus-visible, :hover) {
    --focus-scale: 2;
    --focus-color: var(--mark-color, #ffffff);
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
}
