path {
    fill-opacity: 1;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.fill-5a5a5a {
    fill: color-mix(in srgb, var(--mix-color, #5a5a5a), #5a5a5a);
}
.fill-777777 {
    fill: color-mix(in srgb, var(--mix-color, #777777), #777777);
}
.fill-959595 {
    fill: color-mix(in srgb, var(--mix-color, #959595), #959595);
}
.fill-c3c3c3 {
    fill: color-mix(in srgb, var(--mix-color, #c3c3c3), #c3c3c3);
}
.fill-7a6a44 {
    fill: color-mix(in srgb, var(--mix-color, #7a6a44), #7a6a44);
}
.fill-937f52 {
    fill: color-mix(in srgb, var(--mix-color, #937f52), #937f52);
}
